@import '../Variables'

.contact
  
  &__title
    font-size: 20px

  &__description
    font-size: 16px

  &__links-container
    display: grid
    width: calc(100vw - 110px)
    margin: 10px 0
    padding: 0
    justify-content: center
    grid-template-rows: auto
    list-style: none
    
    li
      margin-bottom: 15px

    &--images
      height: 25px
      margin-right: 5px