@import '../Variables'

.introduce
  .myself
    display: flex
    height: 200px
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 15px 0
    
    &--image
      width: 150px
      max-width: 40%
      border-radius: 50%
      filter: drop-shadow(1px 1px 3px $color-dark)
  
  .rotated
    &--color
      height 75%
