@import '../Variables'

.mystack
  min-height: $height-container

  &__container
    display: flex
    width: 100%
    max-width: 1024px
    flex-wrap: wrap
    justify-content: space-evenly

  &-item
    display: flex
    width: 100%
    flex-direction: column
    align-items: center

  .rotated
    .title
      min-width: calc(100% - 110px)
      max-width: 280px
      text-align: start

  &__list-container
    width: calc(100% - 110px)

  &__list
    margin: 0
    padding: 0
    font-size: 18px

    &-item
      margin-bottom: 5px
      list-style none

      &--image
        height: 20px
        margin-right: 10px
