@import '../Variables'

.notFound
  display: flex
  height: calc(100vh - 150px)
  flex-direction: column
  justify-content: center
  align-items: center
  color: $color-secondary

  h1
    margin: 0
    font-size: 100px
    filter: drop-shadow(1px 1px 3px $color-dark)

  h2
    margin: 0
    font-size: 20px
    color: $color-details
  
  a
    margin-top: 35px
    font-size: 18px
    color: $color-secondary
    font-weight: bold