@import '../Variables'

.experience
  display: flex
  justify-content: center

  &__comingSoon
    display: flex
    flex-wrap: wrap
    justify-content: center
    width: calc(100vw - 110px)
    max-width: 300px

    &--image
      height: 175px
      margin: 20px

    &--title
      color: $color-secondary
      font-weight: 400
      margin: 0 0 20px