@import '../Variables'

.introduce
  .myself
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding: 15px 0
    
    img
      height: 110px
      // width: 110px
      // border: solid 5px $color-primary
      // border: solid 5px $color-secondary
      // border: solid 5px $color-details
      border-radius: 50%
    h1
      font-size: 20px
      font-weight: 400
      color: $color-secondary
  
  .rotated
    &--color
      height 110px
