@media screen and (min-width: 768px)
  .header .rotated--color
    top: -25px

  .introduce .rotated
    overflow: visible
  
  .footer .rotated--color
    top: 25px

  .mystack-item
    max-width: 350px

@media screen and (min-height: 640px)
  .introduce .myself
    height: 250px
