// Fonts
$font-primary = 'Lato', sans-serif

// Colors
$color-primary = #006AC6
$color-secondary = #2E5E88
$color-light = #FFFFFF
$color-dark = #2E2E2E
$color-details = #81A1C1

$height-container = calc(100vh - 150px)
$height-container-home = calc(100vh - 75px - 430px - 60px - 75px)

$height-container_2 = calc(100vh - 190px)
$height-container-home_2 = calc(100vh - 75px - 280px - 60px - 75px)
$height-container-home_3 = calc(100vh - 95px - 280px - 60px - 95px)
